@page
@model IdentityServer.Pages.User.UserListcshtmlModel
@{
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="col-12 text-center">
             <h2 class="text-white py-2">User List</h2>
        </div>
    </div>
</div>
<div class="card-body p-4">
    <div class="row pb-3">
        <div class="col-6"></div>
        <div class="col-3 offset-3 text-end">
            <a class="btn btn-outline-primary form-control">Create Role</a>
        </div>
    </div>

</div>
<div class="card-body p-4">
    @if (Model.userList.Count > 0)
    {
       <table class="tablev teble-bordered table-striped">
           <tr class="teble-secondary">
               <th>
                   Email
               </th>
               <th>
                   Name
               </th>
               <th>
                   Role
               </th>
               <th></th>
           </tr>
            @foreach (var item in Model.userList)
            {
                <tr>

                <td>
                    <td>@item.Email</td>
                </td>
                <td>
                    <td>@item.Name</td>
                </td>
                <td>
                    <td>@item.Role</td>
                </td>
                </tr>

            }
       </table>
    }
</div>