@page
@using IdentityServer.Model.Role
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<partial name="_NotificationPartialView">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
    @if (User.Identity.IsAuthenticated)
    {
            var auth = ViewData["TwoFactorEnabled"];
            if (auth.ToString().ToLower() == "true")
            {
                <a asp-page="TwoFactorAuthentication/ResetTwoFactorAuth">Reset Two Factor Authentication</a>
            }
            else
            {
            <a asp-page="/TwoFactorAuthentication/EnableAuthenticator">Enable Two Factor Authentication</a>
            }

            @if (User.IsInRole(SD.Admin))
            {
                <h2 class="text-success">Your role is - Admin</h2>
            }
            else
            {
                <h2 class="text-success">Your role is - USER</h2>
            }

    }

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
