@page
@model IdentityServer.Pages.User.ForgotPasswordModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mb-3 h3">Your Email Ahi</h1>
            <div class="text-danger" asp-validation-summary="All"></div>
            <form method="post" >
                <div class="mb-3">
                    <input asp-for="forgotPassword.Email" class="form-label" />
                    <span class="text-danger" asp-validation-for="forgotPassword.Email"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn bg-dark text-light">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>